In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import re

In [2]:
import pymysql                        
from sqlalchemy import create_engine  

from getpass import getpass  

password = getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'

engine = create_engine(connection_string)

In [4]:
query = '''SELECT fi.title, fi.rental_rate, c.name, fi.rental_duration, fi.length, fi.rating, fi.special_features
FROM film fi
LEFT JOIN film_actor fa
ON fa.film_id = fi.film_id
LEFT JOIN actor a
ON a.actor_id = fa.actor_id
LEFT JOIN film_category fc
ON fc.film_id = fi.film_id
LEFT JOIN category c
ON c.category_id = fc.category_id
LEFT JOIN inventory i
ON fi.film_id = i.film_id
LEFT JOIN rental re
ON re.inventory_id = i.inventory_id;'''

df = pd.read_sql_query(query, engine)
df

,title,rental_rate,name,rental_duration,length,rating,special_features
0,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes"
1,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes"
2,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes"
3,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes"
4,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes"
...,...,...,...,...,...,...,...
88241,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes"
88242,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes"
88243,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes"
88244,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes"
88245,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes"

In [5]:
df = pd.read_sql_query('''SELECT title, rental_date
FROM film f
LEFT JOIN inventory i 
USING (film_id)
LEFT JOIN rental r
USING (inventory_id)''', engine)
df.head()

              title         rental_date
0  ACADEMY DINOSAUR 2005-07-08 19:03:15
1  ACADEMY DINOSAUR 2005-08-02 20:13:10
2  ACADEMY DINOSAUR 2005-08-21 21:27:43
3  ACADEMY DINOSAUR 2005-05-30 20:21:07
4  ACADEMY DINOSAUR 2005-06-17 20:24:00

### 2. Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

In [6]:
df = pd.read_sql_query('''SELECT
    DISTINCT f.title,
    CASE WHEN r.inventory_id IS NOT NULL THEN TRUE ELSE FALSE END AS rented_in_may
FROM
    (
        SELECT DISTINCT f.film_id, f.title
        FROM film f
    ) AS f
LEFT JOIN
    (
        SELECT DISTINCT i.film_id, r.inventory_id
        FROM inventory i
        INNER JOIN rental r ON i.inventory_id = r.inventory_id
        WHERE YEAR(rental_date) = 2005 AND MONTH(rental_date) = 5
    ) AS r
ON
    f.film_id = r.film_id;''', engine)
df.head(60)

                          title  rented_in_may
0              ACADEMY DINOSAUR              1
1                ACE GOLDFINGER              0
2              ADAPTATION HOLES              1
3              AFFAIR PREJUDICE              1
4                   AFRICAN EGG              1
5                  AGENT TRUMAN              1
6               AIRPLANE SIERRA              0
7               AIRPORT POLLOCK              1
8                 ALABAMA DEVIL              0
9              ALADDIN CALENDAR              0
10              ALAMO VIDEOTAPE              1
11               ALASKA PHANTOM              1
12                  ALI FOREVER              0
13               ALICE FANTASIA              0
14                 ALIEN CENTER              1
15              ALLEY EVOLUTION              1
16                   ALONE TRIP              1
17                ALTER VICTORY              1
18                 AMADEUS HOLY              1
19          AMELIE HELLFIGHTERS              0
20              AMERICAN CIRCUS              1
21            AMISTAD MIDSUMMER              0
22         ANACONDA CONFESSIONS              1
23             ANALYZE HOOSIERS              0
24                  ANGELS LIFE              1
25               ANNIE IDENTITY              1
26              ANONYMOUS HUMAN              0
27                  ANTHEM LUKE              1
28           ANTITRUST TOMATOES              1
29            ANYTHING SAVANNAH              1
30                APACHE DIVINE              1
31         APOCALYPSE FLAMINGOS              0
32                  APOLLO TEEN              0
33                 ARABIA DOGMA              1
34  ARACHNOPHOBIA ROLLERCOASTER              0
35               ARGONAUTS TOWN              0
36                 ARIZONA BANG              0
37                ARK RIDGEMONT              0
38              ARMAGEDDON LOST              1
39             ARMY FLINTSTONES              1
40         ARSENIC INDEPENDENCE              0
41           ARTIST COLDBLOODED              1
42               ATLANTIS CAUSE              1
43                 ATTACKS HATE              0
44            ATTRACTION NEWTON              1
45                  AUTUMN CROW              1
46                    BABY HALL              1
47          BACKLASH UNDEFEATED              1
48                  BADMAN DAWN              0
49              BAKED CLEOPATRA              1
50             BALLOON HOMEWARD              1
51         BALLROOM MOCKINGBIRD              1
52                    BANG KWAI              0
53             BANGER PINOCCHIO              1
54         BARBARELLA STREETCAR              1
55          BAREFOOT MANCHURIAN              1
56                   BASIC EASY              1
57          BEACH HEARTBREAKERS              1
58               BEAR GRACELAND              1
59              BEAST HUNCHBACK              1

### 3.Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

In [7]:
query = '''SELECT 
    DISTINCT f.title, fi.rental_rate, c.name, fi.rental_duration, fi.length, fi.rating, fi.special_features,
    CASE WHEN r.inventory_id IS NOT NULL THEN TRUE ELSE FALSE END AS rented_in_may
FROM
    (
        SELECT DISTINCT f.film_id, f.title
        FROM film f
    ) AS f
LEFT JOIN
    (
        SELECT DISTINCT i.film_id, r.inventory_id
        FROM inventory i
        INNER JOIN rental r ON i.inventory_id = r.inventory_id
        WHERE YEAR(rental_date) = 2005 AND MONTH(rental_date) = 5
    ) AS r
ON
    f.film_id = r.film_id
LEFT JOIN film fi
ON fi.film_id = f.film_id
LEFT JOIN film_actor fa
ON fa.film_id = f.film_id
LEFT JOIN actor a
ON a.actor_id = fa.actor_id
LEFT JOIN film_category fc
ON fc.film_id = f.film_id
LEFT JOIN category c
ON c.category_id = fc.category_id
LEFT JOIN inventory i
ON fi.film_id = i.film_id
LEFT JOIN rental re
ON re.inventory_id = i.inventory_id;'''

In [8]:
df = pd.read_sql_query(query, engine)
df

,title,rental_rate,name,rental_duration,length,rating,special_features,rented_in_may
0,ACADEMY DINOSAUR,0.99,Documentary,6,86,PG,"Deleted Scenes,Behind the Scenes",1
1,ACE GOLDFINGER,4.99,Horror,3,48,G,"Trailers,Deleted Scenes",0
2,ADAPTATION HOLES,2.99,Documentary,7,50,NC-17,"Trailers,Deleted Scenes",1
3,AFFAIR PREJUDICE,2.99,Horror,5,117,G,"Commentaries,Behind the Scenes",1
4,AFRICAN EGG,2.99,Family,6,130,G,Deleted Scenes,1
...,...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,0.99,Documentary,6,183,G,"Trailers,Behind the Scenes",0
996,YOUTH KICK,0.99,Music,4,179,NC-17,"Trailers,Behind the Scenes",0
997,ZHIVAGO CORE,0.99,Horror,6,105,NC-17,Deleted Scenes,1
998,ZOOLANDER FICTION,2.99,Children,5,101,R,"Trailers,Deleted Scenes",1
999,ZORRO ARK,4.99,Comedy,3,50,NC-17,"Trailers,Commentaries,Behind the Scenes",1

In [9]:
df.dtypes

title                object
rental_rate         float64
name                 object
rental_duration       int64
length                int64
rating               object
special_features     object
rented_in_may         int64
dtype: object

### 4.Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [10]:
y = df['rented_in_may']
X = df.drop('rented_in_may', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)


from sklearn.preprocessing import MinMaxScaler

X_train_num = X_train.select_dtypes(include = np.number)


transformer = MinMaxScaler().fit(X_train_num)
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)
X_train_norm

     rental_rate  rental_duration    length
0            1.0             0.50  0.769784
1            0.0             0.75  0.151079
2            0.5             0.00  0.258993
3            1.0             0.50  0.223022
4            0.0             0.25  0.733813
..           ...              ...       ...
795          0.0             0.50  0.151079
796          0.0             0.00  0.683453
797          1.0             0.00  0.467626
798          1.0             0.50  0.906475
799          0.5             0.50  0.316547

[800 rows x 3 columns]

In [25]:
from sklearn.preprocessing import OneHotEncoder
X_train_cat = X_train.select_dtypes(include = object)
encoder = OneHotEncoder(drop='first').fit(X_train_cat)
cols = encoder.get_feature_names_out(input_features=X_train_cat.columns) 
X_train_cat_encode = pd.DataFrame(encoder.transform(X_train_cat).toarray(),columns=cols) 
X_train_cat_encode

,title_ACE GOLDFINGER,title_ADAPTATION HOLES,title_AFRICAN EGG,title_AGENT TRUMAN,title_AIRPLANE SIERRA,title_AIRPORT POLLOCK,title_ALABAMA DEVIL,title_ALAMO VIDEOTAPE,title_ALIEN CENTER,title_ALONE TRIP,...,special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
X_train_transformed = np.concatenate([X_train_norm, X_train_cat_encode], axis=1)
X_train_transformed

array([[1.        , 0.5       , 0.76978417, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.15107914, ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 0.        , 0.25899281, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.        , 0.4676259 , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.5       , 0.90647482, ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 0.5       , 0.31654676, ..., 0.        , 0.        ,
        1.        ]])

In [13]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression()
classification.fit(X_train_transformed, y_train)

LogisticRegression()

In [14]:
X_test_num = X_test.select_dtypes(include = np.number)
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized, columns=X_test_num.columns)
X_test_norm

     rental_rate  rental_duration    length
0            0.0             0.00  0.374101
1            0.5             0.75  0.964029
2            0.5             0.25  0.316547
3            0.5             1.00  0.618705
4            0.0             0.25  0.453237
..           ...              ...       ...
195          0.0             0.25  0.402878
196          0.5             0.25  0.446043
197          0.5             1.00  0.273381
198          0.0             0.25  0.294964
199          1.0             0.50  0.402878

[200 rows x 3 columns]

In [26]:
X_test_cat = X_test.select_dtypes(include = object)
cols = encoder.get_feature_names_out(input_features=X_train_cat.columns) 
X_test_cat_encode = pd.DataFrame(encoder.transform(X_test_cat).toarray(),columns=cols) 
X_test_cat_encode

ValueError: Found unknown categories ['HEARTBREAKERS BRIGHT', 'ALADDIN CALENDAR', 'DARKO DORADO', 'WOLVES DESIRE', 'JEEPERS WEDDING', 'BOULEVARD MOB', 'BOILED DARES', 'TRUMAN CRAZY', 'HAWK CHILL', 'JEOPARDY ENCINO', 'LAMBS CINCINATTI', 'VACATION BOONDOCK', 'PATIENT SISTER', 'BASIC EASY', 'OPPOSITE NECKLACE', 'IMAGE PRINCESS', 'WRATH MILE', 'REDS POCUS', 'GOLDFINGER SENSIBILITY', 'OPEN AFRICAN', 'LOVERBOY ATTACKS', 'DEEP CRUSADE', 'BROOKLYN DESERT', 'HOOSIERS BIRDCAGE', 'DAISY MENAGERIE', 'THIN SAGEBRUSH', 'ANGELS LIFE', 'STONE FIRE', 'MONEY HAROLD', 'VANISHED GARDEN', 'CONEHEADS SMOOCHY', 'SOUP WISDOM', 'BUTCH PANTHER', 'SECRETS PARADISE', 'GRAIL FRANKENSTEIN', 'INDIAN LOVE', 'GABLES METROPOLIS', 'HEAD STRANGER', 'HOME PITY', 'NEIGHBORS CHARADE', 'BILL OTHERS', 'JAPANESE RUN', 'SKY MIRACLE', 'FIREHOUSE VIETNAM', 'CHRISTMAS MOONSHINE', 'TRAINSPOTTING STRANGERS', 'ROOTS REMEMBER', 'SOLDIERS EVOLUTION', 'SEARCHERS WAIT', 'PEAK FOREVER', 'MULHOLLAND BEAST', 'TEMPLE ATTRACTION', 'TENENBAUMS COMMAND', 'CHICAGO NORTH', 'ANNIE IDENTITY', 'TREATMENT JEKYLL', 'RUSHMORE MERMAID', 'OLEANDER CLUE', 'CONGENIALITY QUEST', 'SMOOCHY CONTROL', 'ALI FOREVER', 'ALICE FANTASIA', 'HALLOWEEN NUTS', 'RECORDS ZORRO', 'CONFIDENTIAL INTERVIEW', 'AMERICAN CIRCUS', 'HELLFIGHTERS SIERRA', 'FLINTSTONES HAPPINESS', 'SHAKESPEARE SADDLE', 'NATURAL STOCK', 'GALAXY SWEETHEARTS', 'NEMO CAMPUS', 'SLEUTH ORIENT', 'FANTASY TROOPERS', 'FLYING HOOK', 'JOON NORTHWEST', 'BEACH HEARTBREAKERS', 'BULWORTH COMMANDMENTS', 'ILLUSION AMELIE', 'DUCK RACER', 'UNFAITHFUL KILL', 'FROST HEAD', 'PARK CITIZEN', 'GUNFIGHTER MUSSOLINI', 'HIGHBALL POTTER', 'CONTROL ANTHEM', 'ORDER BETRAYED', 'AFFAIR PREJUDICE', 'FIDELITY DEVIL', 'APACHE DIVINE', 'CHOCOLATE DUCK', 'SAVANNAH TOWN', 'ROCK INSTINCT', 'SECRETARY ROUGE', 'CAT CONEHEADS', 'BRIDE INTRIGUE', 'INCH JET', 'DUDE BLINDNESS', 'CHANCE RESURRECTION', 'WHISPERER GIANT', 'MAKER GABLES', 'DOUBLE WRATH', 'GROUNDHOG UNCUT', 'ROSES TREASURE', 'MOULIN WAKE', 'WONKA SEA', 'ARACHNOPHOBIA ROLLERCOASTER', 'HARPER DYING', 'RIGHT CRANES', 'ALASKA PHANTOM', 'PANKY SUBMARINE', 'ISLAND EXORCIST', 'SAGEBRUSH CLUELESS', 'CRAZY HOME', 'EVE RESURRECTION', 'NOON PAPI', 'LIBERTY MAGNIFICENT', 'SHANE DARKNESS', 'INSTINCT AIRPORT', 'SOUTH WAIT', 'CONNECTICUT TRAMP', 'ALLEY EVOLUTION', 'COMA HEAD', 'DETAILS PACKER', 'MARS ROMAN', 'VOLUME HOUSE', 'ANTITRUST TOMATOES', 'PRESIDENT BANG', 'ROAD ROXANNE', 'OSCAR GOLD', 'ALTER VICTORY', 'ZHIVAGO CORE', 'SUNDANCE INVASION', 'BULL SHAWSHANK', 'BACKLASH UNDEFEATED', 'SONS INTERVIEW', 'OPUS ICE', 'CATCH AMISTAD', 'STING PERSONAL', 'BREAKING HOME', 'DECEIVER BETRAYED', 'TRIP NEWTON', 'ZORRO ARK', 'MUSSOLINI SPOILERS', 'INSIDER ARIZONA', 'MAUDE MOD', 'JUNGLE CLOSER', 'DOLLS RAGE', 'INTOLERABLE INTENTIONS', 'GORGEOUS BINGO', 'MOTHER OLEANDER', 'VOYAGE LEGALLY', 'LIAISONS SWEET', 'NASH CHOCOLAT', 'TIES HUNGER', 'ENDING CROWDS', 'HARDLY ROBBERS', 'JUMANJI BLADE', 'CYCLONE FAMILY', 'BREAKFAST GOLDFINGER', 'CANDIDATE PERDITION', 'HANOVER GALAXY', 'TOWN ARK', 'HUMAN GRAFFITI', 'ELF MURDER', 'CONFESSIONS MAGUIRE', 'CUPBOARD SINNERS', 'WORKING MICROCOSMOS', 'TURN STAR', 'HEAVEN FREEDOM', 'DIRTY ACE', 'REQUIEM TYCOON', 'FLASH WARS', 'NOTORIOUS REUNION', 'GUNFIGHT MOON', 'SADDLE ANTITRUST', 'DOZEN LION', 'GREASE YOUTH', 'BUNCH MINDS', 'SUMMER SCARFACE', 'SMOKING BARBARELLA', 'PATRIOT ROMAN', 'SWEDEN SHINING', 'WONDERLAND CHRISTMAS', 'MILE MULAN', 'BIKINI BORROWERS', 'LUCK OPUS', 'TREASURE COMMAND', 'BETRAYED REAR', 'RUGRATS SHAKESPEARE', 'TIMBERLAND SKY', 'SIMON NORTH', 'LOVELY JINGLE', 'LOVE SUICIDES', 'POND SEATTLE', 'COMMANDMENTS EXPRESS', 'WISDOM WORKER', 'COLDBLOODED DARLING', 'YENTL IDAHO', 'CLERKS ANGELS'] in column 0 during transform

In [27]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat_encode], axis=1)
X_test_transformed

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 200 and the array at index 1 has size 800

In [ ]:
predictions = classification.predict(X_test_transformed)
predictions
classification.score(X_test_transformed, y_test)

In [ ]:
X_train_transformed.shape[1] == X_test_transformed.shape[1]

In [ ]:
print(y_test.value_counts())

In [ ]:
pd.Series(predictions).value_counts()